                                                Task 3

The price of a car depends on a lot of factors like the goodwill of the brand of the car,
features of the car, horsepower and the mileage it gives and many more. Car price
prediction is one of the major research areas in machine learning. So if you want to learn
how to train a car price prediction model then this project is for you.

In [1]:
# importing the required libraries for the task

import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import seaborn

In [3]:
# Loading and reading the dataset for the car data.csv file 

data=pd.read_csv("car data.csv")
data

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
# analysing the dataset 

data.describe()

              Year  Selling_Price  Present_Price     Driven_kms       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.642584   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [5]:
# checking for the null values inthe dataset

data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [18]:
# selecting the features for machine learning model 

x=np.array(data["Driven_kms"]).reshape(-1,1)
y=np.array(data["Selling_Price"]).reshape(-1,1)
print(x)
print(y)

[[ 27000]
 [ 43000]
 [  6900]
 [  5200]
 [ 42450]
 [  2071]
 [ 18796]
 [ 33429]
 [ 20273]
 [ 42367]
 [  2135]
 [ 51000]
 [ 15000]
 [ 26000]
 [ 77427]
 [ 43000]
 [ 41678]
 [ 43000]
 [ 35500]
 [ 41442]
 [ 25000]
 [  2400]
 [ 50000]
 [ 45280]
 [ 56879]
 [ 20000]
 [ 55138]
 [ 16200]
 [ 44542]
 [ 45000]
 [ 51439]
 [ 54200]
 [ 39000]
 [ 45000]
 [ 45000]
 [ 49998]
 [ 48767]
 [127000]
 [ 10079]
 [ 62000]
 [ 24524]
 [ 46706]
 [ 58000]
 [ 45780]
 [ 50000]
 [ 15000]
 [ 64532]
 [ 65000]
 [ 25870]
 [ 37000]
 [104707]
 [ 40000]
 [ 15000]
 [135000]
 [ 90000]
 [ 70000]
 [ 40534]
 [ 50000]
 [ 39485]
 [ 41000]
 [ 40001]
 [ 40588]
 [ 78000]
 [ 47000]
 [  6000]
 [ 45000]
 [ 11000]
 [ 59000]
 [ 88000]
 [ 12000]
 [ 71000]
 [ 45000]
 [ 56001]
 [ 43000]
 [ 83000]
 [ 36000]
 [ 72000]
 [135154]
 [ 80000]
 [ 89000]
 [ 23000]
 [ 40000]
 [ 15000]
 [ 38000]
 [197176]
 [142000]
 [ 78000]
 [ 56000]
 [ 47000]
 [ 40000]
 [ 62000]
 [ 58242]
 [ 75000]
 [ 40000]
 [ 89000]
 [ 72000]
 [ 29000]
 [  8700]
 [ 45000]
 [ 50024]
 [  3000]
 [  1400]
 [  4000]
 [  1200]
 [  4100]
 [ 21700]
 [ 16500]
 [ 15000]
 [ 18000]
 [ 11000]
 [  6000]
 [  8700]
 [  7000]
 [ 35000]
 [ 17000]
 [ 17500]
 [ 33000]
 [ 14000]
 [ 26000]
 [  5400]
 [  5700]
 [  6900]
 [  6000]
 [ 46500]
 [ 11500]
 [ 40000]
 [  1300]
 [  7000]
 [  3000]
 [  5000]
 [ 11000]
 [ 18000]
 [  3500]
 [   500]
 [ 11800]
 [  5000]
 [ 23500]
 [ 16000]
 [ 15000]
 [ 16600]
 [ 32000]
 [ 20000]
 [ 29000]
 [ 25000]
 [ 25000]
 [ 19000]
 [ 15000]
 [ 58000]
 [ 45000]
 [ 24000]
 [  6000]
 [ 31000]
 [ 13000]
 [ 45000]
 [  8000]
 [  4300]
 [ 15000]
 [ 23000]
 [  8600]
 [  4000]
 [ 24000]
 [ 23000]
 [ 14500]
 [ 27000]
 [ 14000]
 [   500]
 [  1000]
 [ 42000]
 [ 12000]
 [ 14000]
 [  5500]
 [  6700]
 [ 13700]
 [  1300]
 [ 38600]
 [ 75000]
 [ 30000]
 [ 24000]
 [ 19000]
 [213000]
 [ 60000]
 [ 50000]
 [ 30000]
 [ 21000]
 [ 26000]
 [  1900]
 [ 22000]
 [ 32000]
 [ 18000]
 [ 55000]
 [ 60000]
 [ 25000]
 [ 49000]
 [ 24000]
 [ 50000]
 [ 35000]
 [500000]
 [ 33000]
 [ 35000]
 [ 53000]
 [ 92233]
 [ 58000]
 [ 28200]
 [ 53460]
 [ 28282]
 [  3493]
 [ 12479]
 [ 34797]
 [  3435]
 [ 21125]
 [ 35775]
 [ 43535]
 [ 22671]
 [ 31604]
 [ 20114]
 [ 36100]
 [ 12500]
 [ 15000]
 [ 45078]
 [ 36000]
 [ 38488]
 [ 32000]
 [ 77632]
 [ 61381]
 [ 36198]
 [ 22517]
 [ 24678]
 [ 57000]
 [ 60000]
 [ 52132]
 [ 45000]
 [ 15001]
 [ 12900]
 [ 53000]
 [  4492]
 [ 15141]
 [ 11849]
 [ 68000]
 [ 60241]
 [ 23709]
 [ 32322]
 [ 35866]
 [ 34000]
 [  7000]
 [ 49000]
 [ 71000]
 [ 35000]
 [ 36000]
 [ 30000]
 [ 17000]
 [ 35934]
 [ 56701]
 [ 31427]
 [ 48000]
 [ 54242]
 [ 53675]
 [ 49562]
 [ 40324]
 [ 25000]
 [ 36054]
 [ 29223]
 [  5600]
 [ 40023]
 [ 16002]
 [ 40026]
 [ 21200]
 [ 35000]
 [ 19434]
 [ 19000]
 [ 18828]
 [ 69341]
 [ 69562]
 [ 27600]
 [ 61203]
 [ 16500]
 [ 30753]
 [ 24800]
 [ 21780]
 [  4000]
 [ 40126]
 [ 14465]
 [ 50456]
 [ 63000]
 [  9010]
 [  9800]
 [ 15059]
 [ 28569]
 [ 44000]
 [ 34000]
 [ 10980]
 [ 19000]
 [ 31427]
 [ 12000]
 [ 38000]
 [ 33019]
 [ 60076]
 [ 33988]
 [ 60000]
 [ 87934]
 [  9000]
 [  5464]]
[[ 3.35]
 [ 4.75]
 [ 7.25]
 [ 2.85]
 [ 4.6 ]
 [ 9.25]
 [ 6.75]
 [ 6.5 ]
 [ 8.75]
 [ 7.45]
 [ 2.85]
 [ 6.85]
 [ 7.5 ]
 [ 6.1 ]
 [ 2.25]
 [ 7.75]
 [ 7.25]
 [ 7.75]
 [ 3.25]
 [ 2.65]
 [ 2.85]
 [ 4.9 ]
 [ 4.4 ]
 [ 2.5 ]
 [ 2.9 ]
 [ 3.  ]
 [ 4.15]
 [ 6.  ]
 [ 1.95]
 [ 7.45]
 [ 3.1 ]
 [ 2.35]
 [ 4.95]
 [ 6.  ]
 [ 5.5 ]
 [ 2.95]
 [ 4.65]
 [ 0.35]
 [ 3.  ]
 [ 2.25]
 [ 5.85]
 [ 2.55]
 [ 1.95]
 [ 5.5 ]
 [ 1.25]
 [ 7.5 ]
 [ 2.65]
 [ 1.05]
 [ 5.8 ]
 [ 7.75]
 [14.9 ]
 [23.  ]
 [18.  ]
 [16.  ]
 [ 2.75]
 [ 3.6 ]
 [ 4.5 ]
 [ 4.75]
 [ 4.1 ]
 [19.99]
 [ 6.95]
 [ 4.5 ]
 [18.75]
 [23.5 ]
 [33.  ]
 [ 4.75]
 [19.75]
 [ 9.25]
 [ 4.35]
 [14.25]
 [ 3.95]
 [ 4.5 ]
 [ 7.45]
 [ 2.65]
 [ 4.9 ]
 [ 3.95]
 [ 5.5 ]
 [ 1.5 ]
 [ 5.25]
 [14.5 ]
 [14.73]
 [ 4.75]
 [23.  ]
 [12.5 ]
 [ 3.49]
 [ 2.5 ]
 [35.  ]
 [ 5.9 ]
 [ 3.45]
 [ 4.75]
 [ 3.8 ]
 [11.25]
 [ 3.51]
 [23.  ]
 [ 4.  ]
 [ 5.85]
 [20.75]
 [17.  ]
 [ 7.05]
 [ 9.65]
 [ 1.75]
 [ 1.7 ]
 [ 1.65]
 [ 1.45]
 [ 1.35]
 [ 1.35]
 [ 1.35]
 [ 1.25]
 [ 1.2 ]
 [ 1.2 ]
 [ 1.2 ]
 [ 1.15]
 [ 1.15]
 [ 1.15]
 [ 1.15]
 [ 1.11]
 [ 1.1 ]
 [ 1.1 ]
 [ 1.1 ]
 [ 1.05]
 [ 1.05]
 [ 1.05]
 [ 1.05]
 [ 1.  ]
 [ 0.95]
 [ 0.9 ]
 [ 0.9 ]
 [ 0.75]
 [ 0.8 ]
 [ 0.78]
 [ 0.75]
 [ 0.75]
 [ 0.75]
 [ 0.72]
 [ 0.65]
 [ 0.65]
 [ 0.65]
 [ 0.65]
 [ 0.6 ]
 [ 0.6 ]
 [ 0.6 ]
 [ 0.6 ]
 [ 0.6 ]
 [ 0.6 ]
 [ 0.6 ]
 [ 0.6 ]
 [ 0.55]
 [ 0.55]
 [ 0.52]
 [ 0.51]
 [ 0.5 ]
 [ 0.5 ]
 [ 0.5 ]
 [ 0.5 ]
 [ 0.5 ]
 [ 0.48]
 [ 0.48]
 [ 0.48]
 [ 0.48]
 [ 0.45]
 [ 0.45]
 [ 0.45]
 [ 0.45]
 [ 0.45]
 [ 0.45]
 [ 0.45]
 [ 0.45]
 [ 0.42]
 [ 0.42]
 [ 0.4 ]
 [ 0.4 ]
 [ 0.4 ]
 [ 0.4 ]
 [ 0.4 ]
 [ 0.38]
 [ 0.38]
 [ 0.35]
 [ 0.35]
 [ 0.35]
 [ 0.31]
 [ 0.3 ]
 [ 0.3 ]
 [ 0.3 ]
 [ 0.27]
 [ 0.25]
 [ 0.25]
 [ 0.25]
 [ 0.25]
 [ 0.25]
 [ 0.2 ]
 [ 0.2 ]
 [ 0.2 ]
 [ 0.2 ]
 [ 0.2 ]
 [ 0.2 ]
 [ 0.18]
 [ 0.17]
 [ 0.16]
 [ 0.15]
 [ 0.12]
 [ 0.1 ]
 [ 3.25]
 [ 4.4 ]
 [ 2.95]
 [ 2.75]
 [ 5.25]
 [ 5.75]
 [ 5.15]
 [ 7.9 ]
 [ 4.85]
 [ 3.1 ]
 [11.75]
 [11.25]
 [ 2.9 ]
 [ 5.25]
 [ 4.5 ]
 [ 2.9 ]
 [ 3.15]
 [ 6.45]
 [ 4.5 ]
 [ 3.5 ]
 [ 4.5 ]
 [ 6.  ]
 [ 8.25]
 [ 5.11]
 [ 2.7 ]
 [ 5.25]
 [ 2.55]
 [ 4.95]
 [ 3.1 ]
 [ 6.15]
 [ 9.25]
 [11.45]
 [ 3.9 ]
 [ 5.5 ]
 [ 9.1 ]
 [ 3.1 ]
 [11.25]
 [ 4.8 ]
 [ 2.  ]
 [ 5.35]
 [ 4.75]
 [ 4.4 ]
 [ 6.25]
 [ 5.95]
 [ 5.2 ]
 [ 3.75]
 [ 5.95]
 [ 4.  ]
 [ 5.25]
 [12.9 ]
 [ 5.  ]
 [ 5.4 ]
 [ 7.2 ]
 [ 5.25]
 [ 3.  ]
 [10.25]
 [ 8.5 ]
 [ 8.4 ]
 [ 3.9 ]
 [ 9.15]
 [ 5.5 ]
 [ 4.  ]
 [ 6.6 ]
 [ 4.  ]
 [ 6.5 ]
 [ 3.65]
 [ 8.35]
 [ 4.8 ]
 [ 6.7 ]
 [ 4.1 ]
 [ 3.  ]
 [ 7.5 ]
 [ 2.25]
 [ 5.3 ]
 [10.9 ]
 [ 8.65]
 [ 9.7 ]
 [ 6.  ]
 [ 6.25]
 [ 5.25]
 [ 2.1 ]
 [ 8.25]
 [ 8.99]
 [ 3.5 ]
 [ 7.4 ]
 [ 5.65]
 [ 5.75]
 [ 8.4 ]
 [10.11]
 [ 4.5 ]
 [ 5.4 ]
 [ 6.4 ]
 [ 3.25]
 [ 3.75]
 [ 8.55]
 [ 9.5 ]
 [ 4.  ]
 [ 3.35]
 [11.5 ]
 [ 5.3 ]]

In [19]:
# splitting the dataset into train and test dataset

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=42)

In [20]:
# loading the model for prediction

from sklearn.linear_model import LinearRegression

l=LinearRegression()
l.fit(xtrain,ytrain)
ypred=l.predict(xtest)

In [22]:
# printing the predicted price 

print(ypred,data["Selling_Price"])

[[4.55605467]
 [4.50599739]
 [4.69446191]
 [4.59834577]
 [4.61757285]
 [4.62666928]
 [4.56374397]
 [4.49454035]
 [4.51760822]
 [4.63679223]
 [4.47174544]
 [4.59065648]
 [4.52145286]
 [4.46878122]
 [4.63679223]
 [4.71188585]
 [4.50799661]
 [4.4972316 ]
 [4.49684713]
 [4.46916569]
 [4.50991893]
 [4.53850002]
 [4.58804981]
 [4.54067609]
 [4.55989932]
 [4.59834577]
 [4.68177843]
 [4.62910294]
 [4.50607428]
 [4.5329868 ]
 [4.52529751]
 [4.70599585]
 [4.56758861]
 [4.68677262]
 [4.62910294]
 [4.59834577]
 [4.74059766]
 [4.7021512 ]
 [4.68246277]
 [4.65601546]
 [4.7521316 ]
 [4.9834024 ]
 [4.53683145]
 [4.62525829]
 [4.59230584]
 [4.58681184]
 [4.61805343]
 [4.77135482]
 [4.57912255]
 [4.66421224]
 [4.60295166]
 [4.47954623]
 [4.64448152]
 [4.52145286]
 [4.69977137]
 [4.58201757]
 [4.48105333]
 [4.59445499]
 [4.65776862]
 [4.5216797 ]
 [4.57912255]
 [4.56374397]
 [4.47723944]
 [4.65601546]
 [4.60219042]
 [4.4972316 ]
 [4.62141365]
 [4.617569  ]
 [4.53604714]
 [4.7521316 ]
 [4.6615479 ]
 [4.65601546]
 [4.57362086]
 [4.61962204]
 [4.55493588]
 [4.59834577]] 0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64